<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>timeline</title>
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="template-web.js"></script>
    </head>
    <body>

        <div id="main" class="main"></div>
        <script id="test" type="text/html">
            <div id="search" class="search">
                {{each responseData as value i}}
                    <input type="checkbox" name="country" id="choosecountry{{i}}" value="{{value.country}}">{{value.country}}
                {{/each}}

                {{each responseData as value i}}
                    {{each value.historyTimeline as timeline j}}
                        <input type="checkbox" name="timeline__dynasty" id="choosedynasty{{j}}" value="{{timeline.dynasty}}">{{timeline.dynasty}}
                    {{/each}}
                {{/each}}
                <input type="button" value="确认" onclick="getCountryInfo()">       
            </div>
            
            {{each responseData as value i}}
                <h1 id="country{{i}}" class="title">{{value.country}}</h1>
                {{each value.historyTimeline as timeline j}}
                <div id="year" class="year">
                    <h2>{{timeline.time}}</h2>
                    <div class="list">
                        <ul>
                            <li class="cls highlight">
                                <p id="time" class="date">{{timeline.time}}</p>
                                <a href="detailed.html?id={{timeline.id}}" target="_blank"><p id="intro" class="intro">{{timeline.abstract}}</p></a>    
                            </li>
                        </ul>
                    </div>
                </div>
                {{/each}}        
            
            {{/each}}
        
        </script>

        
          
    </body>
    <script type="text/javascript">

    var params = {};
    var lists = ["country", "timeline__dynasty"];

    
    function fun(){
        for(li in lists){
            obj = document.getElementsByName(lists[li]);
            var check_val = [];
            for(k in obj){
                if(obj[k].checked)
                    check_val.push(obj[k].value);
            }
            params[lists[li]]=check_val.toString();
            console.log(params);
        }


    }

    function getCountryInfo() {
   
        fun();

        $.ajax({  
            type:"get",  
            url:"http://127.0.0.1:8000/timeline/country",  
            async:true,  
            dataType:"json", 
            data:params,
            // data:{country : "", timeline__dynasty: "江户时代"},
            crossDomain: true, 
            xhrFields:{'Access-Control-Allow-Origin': '*' },
            
                 
            success:function(response){

                console.log(JSON.stringify(response))  

                var data = {
                    responseData: response
                };
                
                var html = template('test', data);
                document.getElementById('main').innerHTML = html;
                 
            },  
            error:function(){  
                              
                alert('NO');               
            }         
        }); 

        
    }
   
    $.ajax({  
            type:"get",  
            url:"http://127.0.0.1:8000/timeline/country",  
            async:true,  
            dataType:"json", 
            // data:$('form').serialize(),
            crossDomain: true, 
            xhrFields:{'Access-Control-Allow-Origin': '*' },
                 
            
            success:function(response){ 
               
                console.log(JSON.stringify(response))  
                console.log(response) 
                var data = {
                    responseData: response
                };
                
                var html = template('test', data);
                document.getElementById('main').innerHTML = html;
               
            },  
            error:function(){  
                              
                alert('NO');               
            }         
        }); 

    </script>
</html>